<nav class="navbar navbar-light" style="background-color: #007bff;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Employee Management</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLinkActive="active" routerLink="/auth">Login</a></li>
                <li><a routerLinkActive="active" routerLink="/employees">Employees</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- default
navbar-light
dark
inverse 
anchor tag selector
style done good-->