<div class="row">
    <div class="col-xs-12">
        <h4>Filter by name:</h4>
        <input type="text" [(ngModel)]='listFilter'>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewEmployee()">New Employee</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- here the filter is not working because we are binding to employees -->
        <!-- changed this as was not able to update the list after change in form -->
        <app-employee-item *ngFor="let employeeEl of filteredEmployees; let i = index" [employee]="employeeEl" [index]="i"></app-employee-item>
    </div>
</div>

<!-- src="{{ employee.imagePath }}" -->

